<button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fas fa-align-left"></i>
    <span class="toggler">Toggle Sidebar</span>
</button>
<ul class="list-unstyled components">
    <li>
        <a asp-controller="Cliente" asp-action="Index">
            <i class="material-symbols-outlined">group</i>
            <span class="toggler">Cliente</span>
        </a>
    </li>
</ul>